nav a {

    border: 4px solid lightgrey;
    border-radius: 5%;
    background-color: lightgray;
  
}

h1 {
    text-align: center;
    color: red;

}

h2 {
    text-align: center;
    color: orange;
}




#logo {
   float: right;
   width: 170px;
   height: auto;
}

.field-head {
    font-weight: bold;
}
  .search{
    margin-left: auto;
    position: absolute;
    right: 0
 }

 html{
    background-color: #baed91;
 }

 footer {
    border-top: 4px double black;
    clear:both
}

footer p {display:inline-block; 
     width:33%
    }

footer p:first-child { float:left; }

footer p:nth-child(2) {text-align: center; }

footer p:last-child {float:right; text-align: right; }
